.row{
    max-width: $grid-width;
    margin: 0 auto;

    //tudo menos a ultima saída
    &:not(:last-child) {
        margin-bottom: $gutter-vertical; //espaço embaixo
    }

    @include clearfix;

    //selecionando o atributo classe q começa^ com col-
    //que começa ^ | que contem * | que termina $
    [class^="col-"] {
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) / 2);
       
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        // background-color: olivedrab;
    }

    .col-2-of-3{
        width: calc( 2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
        background-color: olivedrab;
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
}