
.btn{
    &,
    &:link, /*  */
    &:visited{ /*  */
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block; /* separar do bloco cima */
        border-radius: 10rem;
        transition: all .3s;
        position: relative;
        font-size: $default-font-size;

        border: none;
        cursor: pointer;
    }

    &:hover{ /* qnd passa o mouse */
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /* quao distante vc quer(diagonal), quao longe o borrao(horizontal down), quao forte o borrao */
        
        &::after{
            transform: scaleX(1.4) scaleY(1.6); /* aumenta o tamanho */
            opacity: 0;
        }
    }

    &:active, &:focus{  /* qnd clica */
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); /* quao distante vc quer(diagonal), quao longe o borrao(horizontal down), quao forte o borrao */
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; /* coloca p trás do botao   */
        transition: all .2s;
    }
    
    &--animated{
        animation: moveInBottom .5s ease-out .75s; /* nome, tempo, função de tempo da animação, tempo do delay   */
        animation-fill-mode: backwards; /* aplica tudo em 0% antes do inicio da animação  */
    }
    
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }
    }

    &--green{
        background-color: $color-primary;
        color: $color-white;

        &::after{
            background-color: $color-primary;
        }
    }
}    

.btn-text{
    &:link, &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s ;
    }

    &:hover{
        background-color: $color-primary ;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15) ; //x, y, blur
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 1rem 2rem rgba($color-black, .15) ; //x, y, blur
        transform: translateY(0);
    }
}