.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-white, .1);
    transition: transform .3s;

    &__icon{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient( 
            to right, 
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)
        );
        -webkit-background-clip: text;
        color:transparent;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__text{

    }
}