$unction: #FFFFFF; 

@keyframes moveInLeft {
    /* em cada momento da animação */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}

@keyframes moveInRight {
    /* em cada momento da animação */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    /* em cada momento da animação */
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
