body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;  /* desenconsta de cima */
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* evita q a parte de trás do elemento seja escondida p não dar erro */
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft ;
        animation-duration: 1s;
        /* anim */
        /* animation-iteration-count: 3; qntas vezes qr q aconteça */
        /* animation-delay: 3s; */
    }
    
    &--sub{
        display: block;
        font-size: 1.74rem;
        font-weight: 400;
        letter-spacing: 1.93rem;
        animation: moveInRight 1s ease-out;
    }

    &--under{
        display: block;
        font-size: 1.50rem;
        font-weight: 400;
        letter-spacing: .3rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: linear-gradient(to right, $color-red-light, $color-red-dark);
    background-image: linear-gradient(to right, $color-red-light, $color-red-dark);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-grey-dark, .2rem);
    }
    
}


.heading-quartenary{
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // transform: skewY(2deg) skewX(15deg) scale(1.1);
    color: linear-gradient(to right, $color-grey-light-1, $color-grey-light-2);
    background-image: linear-gradient(to right, $color-grey-light-1, $color-grey-light-2);
    -webkit-background-clip: text;
    color:transparent;
    transform: skewY(7deg);
    letter-spacing: .2rem;
    transition: all .2s;
    text-shadow: .5rem 1rem 2rem rgba($color-grey-dark, .8rem);
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}



.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}